#divSketch {
    background-color: rgb(255, 255, 255);
}

canvas {
    padding: 0px;
}

div {
    padding: 0px;
    margin: 0px;
}

.grid{
    background:
        linear-gradient(-90deg, rgba(0,0,0,0.20) 1px, transparent 1px), 
        linear-gradient(rgba(0,0,0,.20) 1px, transparent 1px);
     background-size:
        10px 10px,
        10px 10px;
}

#btnProceedToScreen2 {
    float: right;
}

#lblDrawLineMode {
    background-image : url("img/line_tool.png");
    background-position : center center;
    background-repeat: no-repeat;
    background-size: 20px;
}

#lblDrawCurveMode {
    background-image : url("img/0_degree_tool.png");
    background-position : center center;
    background-repeat: no-repeat;
    background-size: 20px;
}

#lblEditMode {
    background-image : url("img/edit.png");
    background-position : center center;
    background-repeat:no-repeat;
    background-size: 20px;
}

#lblAdvancedEditMode {
    background-image : url("img/advanced_edit_mode.png");
    background-position : center center;
    background-repeat:no-repeat;
    background-size: 20px;
}

#btnUndo {
    background-image : url("img/undo.png");
    background-position : center center;
    background-repeat:no-repeat;
    background-size: 20px;
}

#btnReset {
    background-image : url("img/file-regular.svg");
    background-position : center center;
    background-repeat: no-repeat;
}


#grpModes {
    width : 200px;
    height : 25px;
}

#btnUndo {
    width : 35px;
    height : 25px;
}

#btnReset {
    width : 35px;
    height : 25px;
}

#btnClosed {
    width : 35px;
    height : 25px;
    background-image : url("img/circle-regular.svg");
    background-position : center center;
    background-repeat:no-repeat;
}